# Android
.gradle/
/local.properties
/.idea
.DS_Store
/build
/app/build
*.iml

# Python / Flask
__pycache__/
*.pyc
*.sqlite
instance/
venv/

# Node (if added later)
node_modules/

# OS
.DS_Store
Thumbs.db

# Environment / secrets
.env
backend/.env
